body {
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
  background: #e7dbf9;
}

.App .card {
  padding: 40px 40px 20px 40px;
  max-width: 700px;
  min-width: 700px;
  margin: 0 auto;
  border-radius: 8px;
}

.App .footer-signature {
  text-align: right;
  color: #676768;
  font-size: 12px;
  padding: 80px 0px 10px 0px;
  font-weight: 550;
}

.App .github-link {
  color: #6d15f2;
  text-decoration: none;
}
