.Temperature .main-temperature {
  font-size: 80px;
  font-weight: 500;
  position: relative;
  float: left;
}

.Temperature .main-temperature-unit {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  float: left;
  bottom: -10px;
  right: -2px;
}
